<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056167891527-p3gahfvrco6tqce5tn3g562qmirv6jpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056167891527-p3gahfvrco6tqce5tn3g562qmirv6jpu</string>
	<key>API_KEY</key>
	<string>AIzaSyA7mql1Y8sfg2Q21b9FGVVB_uINYveEd-w</string>
	<key>GCM_SENDER_ID</key>
	<string>1056167891527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bjp.wydatki</string>
	<key>PROJECT_ID</key>
	<string>naukaw-66f11</string>
	<key>STORAGE_BUCKET</key>
	<string>naukaw-66f11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056167891527:ios:14d481164d44f564669762</string>
</dict>
</plist>